manifest {
    name = 'minion_bacterial'
    author = 'Jeremy Volkening'
    description = 'MinION bacterial assembly and QC'
    mainScript = 'minion_bacterial.nf'
    version = '0.005'
    nextflowVersion = '>=18.10.1'
}

// set minimal defaults
process.cpus = 1
process.memory = '4GB'

trace {
    enabled = true
    file = 'trace.txt'
}
